In [2]:
import pandas as pd
df = pd.read_csv('resources/nyc_weather.csv')
df.sample(5)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281

In [3]:
df['Temperature'].max()

50

In [4]:
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [5]:
df.fillna(0, inplace=True)
df['WindSpeedMPH'].mean()

6.225806451612903